language: node_js
node_js: node
script:
- npm run lint
- polymer test --skip-plugin local
env:
  global:
  - SAUCE_USERNAME: Desire2Learn
  - secure: t2yclKAN/Zg0VQ9WFZlW3x1RPrrLWYDMjGplBYeZnA5IcX9jQMUkrOfMm8fOtXZZeKAinMJXkzef/vpVfJ47hu/iHeji2253ABsPeMxvihz0lDtS8IT2a2Jl8ZiTMWizMg7J56xq7m2vgnR+2qREgBN1/W36ByPGyGYmIJqD9VhbHBIxNnIOpwAooRuyqphBhO8GSANemK6jz49vit1IGxBx/L7fW/+4qoT8Xzrh6161YH26NXeEghFFxxfzzt2HGQH5whdfhhqrIzDCkC2eJqXoEY7bvt8j47iUvZxf5sY+0OIeJUVvpLLKNjnCGP0DI/ay3Q2wIxvFWqXkrJjU02E1E74dOdHZ3m77Gr3AeQgolC7eRIEvqAZEbwxQbcBWf7RfM0zv8T/mFVDWZ4o4pu1Huy9RjE2kbckzWVjFI61if/TGS6BPrQNWX+/Zb70DrMz/Mw96T6nyOq3AYcEYc6pr2PXHeySGvC81HgOwvYC6QTSRHeeQnPIoW2t22XTSkCC4Bzw4nO2MFZZoBe6yuyi8wJZBYP63PqKLBPmoTgxbA5xdvlzetitr6coa7GB9B3jCk2nxl8MVvyUej+2YnOi9rLwQ2UP6QanU1985FPqDwgllQhVF/6qlzq6DAwLOISJaWXBQmWzug4QuW6TgSDviRiAljilITD14SUul0jc=
